
body {
    padding: 30px 100px;
    font-family: 'Lobster', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Francois One', sans-serif;
    background-color: lightgoldenrodyellow;
    font-size: 2em
}
